*{
    margin: 0;
    padding: 0;
    font-family: "Alex Brush", sans-serif;
} 


/* Remove Scrollbar */
.body { 
    overflow-y: scroll;
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;   /* Internet Explorer 10+ */


    --banner-load-duration: 600ms;
    --banner-delay: 1ms;

    --food-load-duration: 400ms;
    --time-delta-value: 100ms;

    --zerost-delay: calc( var(--banner-delay) + var(--banner-load-duration) - var(--time-delta-value));
    --first-delay: calc( var(--zerost-delay) + var(--food-load-duration) - var(--time-delta-value));
    --second-delay: calc( var(--first-delay) + var(--food-load-duration) - var(--time-delta-value));
    --third-delay: calc( var(--second-delay) + var(--food-load-duration) - var(--time-delta-value));
    --last-delay: calc( var(--third-delay) + var(--food-load-duration) - var(--time-delta-value));
}
.body::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;       

}


/* ---- header banner ---- */
.banner{
    /*min-height: 30vh;*/
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;

    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/banner.png);
    background-position: center;
    background-size: cover;
    
    position: relative;

    text-align: center;
    font-family: "Alex Brush";
    color: #fff;

    animation-name: banner-load; /* Animation is defined in the keyframes at the end of this doc */
    animation-duration: var(--banner-load-duration);
    animation-delay: var(--banner-delay);
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transform: translateY(-100%);
    /*opacity: 0;*/

    
}

.banner h1{
    font-family: "Alex Brush";
    font-size: clamp(40px, 12vw, 200px);
}
.banner h3{
    font-family: "Alex Brush";
    font-size: clamp(20px, 5vw, 90px);
    font-weight: 300;
}

.text-box{
    /*box-sizing: border-box;*/
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: "Alex Brush";
}
.text-box h1{
    font-family: "Alex Brush";
    /*font-size: 100px;*/
    font-size: clamp(40px, 12vw, 200px);

}
.text-box h3{
    font-family: "Alex Brush";
    /*font-size: 50px;*/
    font-size: clamp(20px, 5vw, 90px);
    font-weight: 300;
}



/* ----- food ----- */
.food{
    width: 98%;
    margin: auto;
    text-align: center;
    padding-top: 50px;

    

}
.food h2{
    /*font-size: 70px;*/
    font-size: clamp(40px, 8vw, 150px);
    font-weight: 400;

    animation-name: foodtitle-load; /* Animation is defined in the keyframes at the end of this doc */
    animation-duration: var(--food-load-duration);
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;  /* Take value of the end of animation, otherwise opacity will be 0 again*/
    opacity: 0; /* Start animation with opacity of 0 */

}
.food p{
    font-family: "Poppins", sans-serif;
    color: #777;
    /*font-size: 18px;*/
    font-size: clamp(18px, 8vw, 40px);
    font-weight: 300;
    line-height: 1.3;
    padding: 5px;

    animation-name: foodtitle-load; /* Animation is defined in the keyframes at the end of this doc */
    animation-duration: var(--food-load-duration);
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    opacity: 0;
}

.zerodelay{
    animation-delay: var(--zerost-delay);
}
.firstdelay{
    animation-delay: var(--first-delay);
}

.seconddelay{
    animation-delay: var(--second-delay);
}

.thirddelay{
    animation-delay: var(--third-delay);
}

.lastdelay{
    animation-delay: var(--last-delay);
}


/* ----- thanks ----- */
.thanks{
    width: 80%;
    margin: auto;
    padding-top: 200px;
    text-align: center;
    
}
.thanks p{
    font-family: "Alex Brush";
    color: #888;
    font-size: clamp(10px, 4vw, 30px);
}

/* Animate the food title and discription */
@keyframes foodtitle-load {
    0% {
        opacity: 0;
        transform: translateY(-2px) scale(0.9);
    }

    100% {
        opacity: 100%;
        transform: translateY(0px) scale();
    }
}

/* Animate the banner */
@keyframes banner-load {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}