*{
    margin: 0;
    padding: 0;
    font-family: "Alex Brush", sans-serif;
} 


/* Remove Scrollbar */
.body { 
    overflow-y: scroll;
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;   /* Internet Explorer 10+ */
}
.body::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
}


/* ---- header banner ---- */
.banner{
    min-height: 30vh;
    width: 100%;

    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/banner.png);
    background-position: center;
    background-size: cover;
    
    position: relative;
}

.text-box{
    width: 100%;
    color: #fff;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: "Alex Brush";
}
.text-box h1{
    font-family: "Alex Brush";
    /*font-size: 100px;*/
    font-size: clamp(40px, 12vw, 200px);
}
.text-box h3{
    font-family: "Alex Brush";
    /*font-size: 50px;*/
    font-size: clamp(20px, 5vw, 90px);
    font-weight: 300;
}



/* ----- food ----- */
.food{
    width: 98%;
    margin: auto;
    text-align: center;
    padding-top: 50px;

}
.food h2{
    /*font-size: 70px;*/
    font-size: clamp(40px, 7vw, 120px);
    font-weight: 400;

}
.food p{
    font-family: "Poppins", sans-serif;
    color: #777;
    /*font-size: 18px;*/
    font-size: clamp(18px, 8vw, 40px);
    font-weight: 300;
    line-height: 30px;
    padding: 5px;

}


/* ----- thanks ----- */
.thanks{
    width: 80%;
    margin: auto;
    padding-top: 200px;
    text-align: center;
    
}
.thanks p{
    font-family: "Alex Brush";
    color: #888
}

